config node 'node'
	option imei ''
	option model 'TAS-682'
	option heartbeat_interval_sec '30'

config hardware 'hardware'
	option serial_port '/dev/ttyS1'
	option lan_interface 'eth0'
	option wan_interface 'eth1'
	option bridge '0'
	option serial_rs485 '1'

config modem 'modem'
	option usb_vendor '3505'
	option usb_product '0003'
	option at_port '/dev/ttyUSB2'
	option status_path '/tmp/edgenode/modem.status'
	option monitor_interval '30'
	option imei ''
	option iccid ''

config platform 'primary'
	option enabled '0'
	option id ''
	option url ''
	option enrollment_token_file ''
	option network_owner '0'
	option priority '100'
	option reconnect_interval_sec '5'
	option outbox_max_bytes '262144'
